<h3> Login: </h3>
<%= erb :'/_errors', layout: false, locals: {errors: @errors} %>
<form action="/login" method="POST">
  <label for='username'> Username: </label><br>
  <input type="username" name="username"><br>
  <br>
  <label> Password: </label><br>
  <input type="password" name="password" ><br><br>
  <input type="submit" value="Login!">
</form>
